.nav-ul {
  background-color: #eeefef;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
  border-top: 1px solid #c2c5f0;
}
.nav-li:nth-child(2) {
  position: relative;
}
.nav-ntf__badge {
  display: flex;
  right: -10px;
  top: -18px;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  font-size: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: navAnimation 3s ease-in-out infinite;
}

.nav-li {
  transform: translateY(55px);
  animation: navMoveAnimation 1s ease-in-out forwards;
}

@keyframes navAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg) translateY(-5px);
  }
  100% {
    transform: none;
  }
}

@keyframes navMoveAnimation {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.nav-li:nth-child(2) {
  animation-delay: 0.3s;
}
.nav-li:nth-child(3) {
  animation-delay: 0.6s;
}
.nav-li:last-child {
  animation-delay: 0.9s;
}
