.screen-header__topic {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons i {
  margin-right: 15px;
}
.screen-header__ad {
  margin: 20px 20px;
  display: flex;
  justify-content: center;
}

.screen-header__ad-box {
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}
.screen-header__ad-box img {
  width: 80px;
  height: 60px;
  margin-left: 10px;
  border-radius: 50%;
}

.screen-header__ad a {
  text-decoration: none;
}

.screen-header__ad-column > h1,
.screen-header__ad-column > h2 {
  text-align: center;
  font-weight: 600;
  color: black;
}
.screen-header__ad-column > h1 {
  font-size: 16px;
  margin-bottom: 5px;
}
.screen-header__ad-column > h2 {
  font-size: 13px;
  opacity: 0.5;
}

.fa-gear:hover {
  animation: rotategear 3s linear infinite;
}

.fa-magnifying-glass:hover {
  animation: sizeupicons 0.2s ease-in-out forwards;
}

.fa-comment-dots:hover {
  animation: sizeupicons 0.2s ease-in-out forwards;
}

.fa-music:hover {
  animation: VibrateMusic 0.4s ease-in-out infinite;
}

@keyframes VibrateMusic {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(15deg);
  }
  50% {
    transform: rotateZ(-15deg);
  }
  75% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}

@keyframes rotategear {
  0% {
  }
  100% {
    transform: rotateZ(360deg) scale(1.5);
  }
}
