@import "reset.css";

@import "component/status-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/nav.css";
@import "component/icon.css";
@import "component/no-mobile.css";

@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/setting.css";
@import "screen/chat.css";

* {
  /* box-sizing: border-box; */
  color: #a897de;
}

body {
  background-color: rgba(238, 239, 239);
}

:root {
  --main-color: rgba(168, 151, 222);
}
