.status-bar {
  position: absolute;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #eeefef;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.status-bar__column {
  display: flex;
  justify-content: center;
  width: 33%;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 25px;
  border-radius: 20px;
}

.status-bar__column:last-child i {
  margin-right: 10px;
}
